<header>
  <h1>
    <a href="/" style="color: white; text-decoration: none"
      >Welcome to Infinity Travel</a
    >
  </h1>
  <nav id="top-nav">
    <% if (!isAuthenticated) { %>
    <div style="float: right">
      <a href="/register">Register</a> |
      <a href="/login">Login</a>
    </div>
    <% } else { %>
    <div style="float: right">
      Welcome, <%= username %> |
      <a href="/logout">Logout</a>
    </div>
    <% } %>
  </nav>
</header>

<% if (isAuthenticated) { %>
<nav id="navbar">
  <ul>
    <li><a href="/favorites">Favorite Places</a></li>
  </ul>
</nav>
<% } %>
